
<script type="text/javascript" src="javascripts/lol.js"></script>

<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %> </p>
<h1 class="gallery_name"><a><%= link_to 'Afro Galleria', spree.products_path%></a></h1>

<ul class="cb-slideshow">
	
    <li><span>Image 01</span></li>
    <li><span>Image 02</span></li>
    <li><span>Image 03</span></li>
    <li><span>Image 04</span></li>
    <li><span>Image 05</span></li>
    <li><span>Image 06</span></li>
</ul>



