/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body{
    /*max-width: 1266px;*/
    background:#fff;
    margin:0px;
/*  background-size: 1160px 912px;*/
    /*font-family: courier new;*/
}
header p{
    float: right;
    padding: 0;
    margin: 0;
    color: #428bca;
}
header a{
    color: #428bca;
    text-decoration: none;
    transition: .2s;
}
.alert{
    color:red;
}
.notice{
    color: #999;
  margin-left: 23%;
  font-size: 32px;
  font-family: fantasy;
  text-shadow: 2px 1px 1px #000;
}
.user_email{
    color: #999;
  text-shadow: 1px 0px 0px #000;  
}
#caption{
    margin: 10%;
    font-size: 24px;
}
header a:hover{
    color: #000;
}
header #greeting{
    float: left;
    clear: both;
    margin:0px;
/*    padding: 0px;
*//*    background-size: 1160px 912px;*/
}
.image_round{
    width: 50px;
    height:50px;
}
.gallery_name{
  font-size: 87px;
   margin-left: 188px;
  margin-top: 96px;
  color: #000;
  text-shadow: 2px 3px 5px gray;
  font-family: fantasy;
}
.wrapper_menu{
    width: 100%;

}
.signin_up_out{
  margin-right: 10%;
  padding: 13px;
  /* margin-top: 10px; */
  font-size: 1.2em;
  width: 20%;
  text-align: center;
  color: #000;
  margin-top: -47px;
  color: black;
  float: right;
}
.gallery_name a{
    text-decoration: none;
    color: #000;

}
.gallery_name a:hover{
  color: #999;
   text-shadow: 2px 3px 2px #000;
}
.signin_up_out a{
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-weight: bold;
    line-height: 1;
    color: #999;
    font-weight: 300;
}
.signin_up_out a:hover{
    color: #000;
}
.top_head{
    font-family:Serif;
    color: rgb(124, 118, 118);
    font-size:50px;
}
.menu{
    position: fixed;
    top:100px;
    left: 0px;
    width: 200px;
    height: 241px;
    font-size:20px;
    font-family: Helvetica;
    color:rgb(124, 118, 118);
    background-color: rgba(124, 118, 118, 0.3);
}
.menu ul li{
    margin-left: -20px;
    height: 50px;
}
.menu ul{
    list-style: none;
}
.menu ul li {
    display:block;
}
.menu ul li a {
    text-decoration: none;
}
.wrapper_menu{
    max-width: 100%;
    margin: 0px;
    border:0px;
}
.menu:hover{
    width: 200px;
}
.menu ul:hover{
    transition: 1s;
    margin-left: 70px;
    height: 200px;
    height: 100px;
}
.wrapper_bgd{
  position: absolute;
  width: 1266px;
  height: 712px;
  left: 0px;
  top: 0px;
  z-index: 0;
}
.about_us{
   max-width:100%;
   text-align:justify;
}
.about_us h3{
   text-align: center;
   font-family: fantasy;
}
.about_us_pic {
   width:200px;
   border-radius: 50%;
   display: inline-block;
}
.col{
   margin-left: 200px;
   color: #5B5B5B }
.col, .col2, .col3{
    padding:40px;
    float:left;
    width: 200px;
    display: inline-block;
    color: #5B5B5B }
.col_p{
   width: 220px;
   color: #5B5B5B ;
}
.cb-slideshow{
    list-style: none;
}
.cb-slideshow,
.cb-slideshow:after { 
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: -5; 
    clear: both;
}
/*.cb-slideshow:after { 
    content: '';
    background: transparent url('pattern.png') repeat top left; 
}*/
.cb-slideshow li span { 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    opacity: 0;
    z-index: 0;
    -webkit-backface-visibility: hidden;
    -webkit-animation: imageAnimation 20s linear infinite 0s;
    -moz-animation: imageAnimation 20s linear infinite 0s;
    -o-animation: imageAnimation 20s linear infinite 0s;
    -ms-animation: imageAnimation 20s linear infinite 0s;
    animation: imageAnimation 20s linear infinite 0s; 
}
/*.cb-slideshow li div { 
    z-index: 1000;
    position: absolute;
    bottom: 30px;
    left: 0px;
    width: 100%;
    text-align: center;
    opacity: 0;
    color: #fff;
    -webkit-animation: titleAnimation 20s linear infinite 0s;
    -moz-animation: titleAnimation 20s linear infinite 0s;
    -o-animation: titleAnimation 20s linear infinite 0s;
    -ms-animation: titleAnimation 20s linear infinite 0s;
    animation: titleAnimation 20s linear infinite 0s; 
}
.cb-slideshow li div h3 { 
    font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
    font-size: 240px;
    padding: 0;
    line-height: 200px; 
}*/
.cb-slideshow li:nth-child(1) span { 
    background-image: url('bkg1.jpg') 
}
.cb-slideshow li:nth-child(2) span { 
    background-image: url('bkg2.jpg');
    -webkit-animation-delay: 4s;
    -moz-animation-delay: 4s
    -o-animation-delay: 4s;
    -ms-animation-delay: 4s;
    animation-delay: 4s; 
}
.cb-slideshow li:nth-child(3) span { 
    background-image: url('bkg3.jpg');
    -webkit-animation-delay: 8s;
    -moz-animation-delay: 8s;
    -o-animation-delay: 8s;
    -ms-animation-delay: 8s;
    animation-delay: 8s; 
}
.cb-slideshow li:nth-child(4) span { 
    background-image: url('bkg4.jpg');
    -webkit-animation-delay: 12s;
    -moz-animation-delay: 12s;
    -o-animation-delay: 12s;
    -ms-animation-delay: 12s;
    animation-delay: 12s; 
}
.cb-slideshow li:nth-child(5) span { 
    background-image: url('bkg5.jpg');
    -webkit-animation-delay: 16s;
    -moz-animation-delay: 16s;
    -o-animation-delay: 16s;
    -ms-animation-delay: 16s;
    animation-delay: 16s; 
}
/*
.cb-slideshow li:nth-child(2) div { 
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    -o-animation-delay: 6s;
    -ms-animation-delay: 6s;
    animation-delay: 6s; 
}
.cb-slideshow li:nth-child(3) div { 
    -webkit-animation-delay: 12s;
    -moz-animation-delay: 12s;
    -o-animation-delay: 12s;
    -ms-animation-delay: 12s;
    animation-delay: 12s; 
}
.cb-slideshow li:nth-child(4) div { 
    -webkit-animation-delay: 18s;
    -moz-animation-delay: 18s;
    -o-animation-delay: 18s;
    -ms-animation-delay: 18s;
    animation-delay: 18s; 
}
.cb-slideshow li:nth-child(5) div { 
    -webkit-animation-delay: 24s;
    -moz-animation-delay: 24s;
    -o-animation-delay: 24s;
    -ms-animation-delay: 24s;
    animation-delay: 24s; 
}
.cb-slideshow li:nth-child(6) div { 
    -webkit-animation-delay: 30s;
    -moz-animation-delay: 30s;
    -o-animation-delay: 30s;
    -ms-animation-delay: 30s;
    animation-delay: 30s; 
}*/
/* Animation for the slideshow images */
@-webkit-keyframes imageAnimation { 
    0% { opacity: 0;
    -webkit-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -webkit-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
@-moz-keyframes imageAnimation { 
    0% { opacity: 0;
    -moz-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -moz-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
@-o-keyframes imageAnimation { 
    0% { opacity: 0;
    -o-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -o-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
@-ms-keyframes imageAnimation { 
    0% { opacity: 0;
    -ms-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -ms-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
@keyframes imageAnimation { 
    0% { opacity: 0;
    animation-timing-function: ease-in; }
    8% { opacity: 1;
         animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
/* Animation for the title */
@-webkit-keyframes titleAnimation { 
    0% { opacity: 0 }
    8% { opacity: 1 }
    17% { opacity: 1 }
    19% { opacity: 0 }
    100% { opacity: 0 }
}
@-moz-keyframes titleAnimation { 
    0% { opacity: 0 }
    8% { opacity: 1 }
    17% { opacity: 1 }
    19% { opacity: 0 }
    100% { opacity: 0 }
}
@-o-keyframes titleAnimation { 
    0% { opacity: 0 }
    8% { opacity: 1 }
    17% { opacity: 1 }
    19% { opacity: 0 }
    100% { opacity: 0 }
}
@-ms-keyframes titleAnimation { 
    0% { opacity: 0 }
    8% { opacity: 1 }
    17% { opacity: 1 }
    19% { opacity: 0 }
    100% { opacity: 0 }
}
@keyframes titleAnimation { 
    0% { opacity: 0 }
    8% { opacity: 1 }
    17% { opacity: 1 }
    19% { opacity: 0 }
    100% { opacity: 0 }
}
/* Show at least something when animations not supported */
.no-cssanimations .cb-slideshow li span{
    opacity: 1;
}

@media screen and (max-width: 1140px) { 
    .cb-slideshow li div h3 { font-size: 140px }
}
@media screen and (max-width: 600px) { 
    .cb-slideshow li div h3 { font-size: 80px }
    .gallery_name{
        margin: 20px 2px;
        font-size: 24px; 
    }
    
}

    /*.slideout-menu {
        width: auto;
        position: fixed;
        top: 54px;
        left: -300px;
        height: 100%;
        background: rgba(216, 212, 212, 0.4);
        z-index: 100;
    }
    .slideout-menu .slideout-menu-toggle {
        position: absolute;
        top: 12px;
        right: 10px;
        display: inline-block;
        float:left;
        padding: 6px 9px 5px;
        font-family: Arial, sans-serif;
        font-weight: bold;
        line-height: 1;
        color: #999;
        text-decoration: none;
        vertical-align: top;
    }
  /*  .slideout-menu .slideout-menu-toggle:hover {
        color: #fff;
    }*/
    /*.slideout-menu ul {
        margin-top: 54px;
        list-style: none;
        font-weight: 300;
    }*/
    /*.slideout-menu ul li a {
        position: relative;
        display: block;
        padding: 10px;
        color: #000;
        text-decoration: none;
    }*/
    /*.slideout-menu ul li a:hover {
        background: #000;
        color: #fff;
    }*/
    /*.slideout-menu ul li a i {
        position: absolute;
        top: 15px;
        right: 10px;
        opacity: .5;
    }*/
    
  /*  .header {
        padding: 11px;
        background: rgba(0,0,0, 0.1);
    }
    .header .slideout-menu-toggle {
        line-height: 30px;
        font-size: 1.2em;
        color: #999;
        text-decoration: none;
    }
    .header .slideout-menu-toggle:hover {
        color: #fff;
    }*/
.slideout-menu {
    width: auto;
    position: fixed;
    top: 52px;
    left: -270px;
    height: 100%;
    background: rgba(216, 212, 212, 0.9);
    z-index: 100;
}
.slideout-menu .slideout-menu-toggle {
    position: absolute;
    top: 12px;
    right: 10px;
    display: inline-block;
    float:left;
    padding: 6px 9px 5px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    line-height: 1;
    color: #999;
    text-decoration: none;
    vertical-align: top;
}
  .slideout-menu .slideout-menu-toggle:hover {
    color: #b7b7b7;
}
.slideout-menu ul {
    margin-top: 52px;
    list-style: none;
    font-weight: 300;
}
.slideout-menu ul li a {
    position: relative;
    display: block;
    padding: 10px;
    color: #000;
    text-decoration: none;
}
.slideout-menu ul li a:hover {
    background: #000;
    color: #b7b7b7;
}
.slideout-menu ul li a i {
    position: absolute;
    top: 0px;
    right: 10px;
    
}

.header {
    padding: 11px;
    background: rgba(0,0,0, 0.1);
}
.header .slideout-menu-toggle {
    line-height: 30px;
    font-size: 1.2em;
    color: #999;
    text-decoration: none;
}
.header .slideout-menu-toggle:hover {
    color: #b7b7b7;
}
