<!DOCTYPE html>
<html>
<head>
  <title>Mystore</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>


  </head>
  <header>
		<div id="top_head">
			  <div> Galleria  Afro </div>
		</div>  
		<nav class="menu" class="slideout-menu">
			<h3>Menu <a href="#" class="slideout-menu-toggle">×</a></h3>
			<ul>
				<li><a href="#">Home <i class="fa fa-angle-right"></i></a></li>
				<li><a href="#">Art products <i class="fa fa-angle-right"></i></a></li>
				<li><a href="#">About us <i class="fa fa-angle-right"></i></a></li>
				<li><a href="#">Contact us<i class="fa fa-angle-right"></i></a></li>
			</ul>
		</nav>
	
</header>	
 <body>
 
	
<%= yield %>

</body>
</html>
